.cdx-list {
    margin: 0;
    padding-left: 40px;
    outline: none;

    &__item {
        padding: 5.5px 0 5.5px 5px;
        line-height: 1.6em;
    }

    &--compact {
        .cdx-list__item {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    &--ordered {
        list-style: decimal;
    }

    &--unordered {
        list-style-type: disc;
    }

    &--circled {
        list-style-type: circle;
    }

    &--squared {
        list-style-type: square;
    }

    &--stared {
        list-style-type: '★';
    }

    &--dashed {
        list-style-type: '-';
    }

    &--arrowed {
        list-style-type: '→';
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
}

[data-item-name="normal"], [data-item-name="compact"] {
    .ce-popover-item__icon {
        width: 1px;
        overflow: hidden;
        opacity: 0;
    }
}
